*.swp
*.pyc
*.DS_Store
*~
build/
config/*
.vagrant/
env/*
repos/*

config/todo-helper_deploy_key
config/todo-helper_deploy_key.pub

repos/
todo.log
testIssues.txt

*.sublime-project
*.sublime-workspace